# Some generic hostgroup definitions

# A simple wildcard hostgroup
define hostgroup {
        hostgroup_name  all
        alias           All Servers
        members         *
        }

# A list of your Debian GNU/Linux servers
define hostgroup {
        hostgroup_name  debian-servers
        alias           Debian GNU/Linux Servers
        members         localhost
        }

define hostgroup {
       hostgroup_name   ubuntu-apt-dist-upgrade-servers
       alias            APT dist upgrade
        members         localhost, makarov.infra.local.macapinlac.com, mirajane.infra.local.macapinlac.com, shino.db.local.macapinlac.com, hinata.media.local.macapinlac.com, laxus.media.local.macapinlac.com
        }
define hostgroup {
        hostgroup_name  ubuntu-apt-servers
        alias           APT
        members         localhost, makarov.infra.local.macapinlac.com, mirajane.infra.local.macapinlac.com, shino.db.local.macapinlac.com, hinata.media.local.macapinlac.com, laxus.media.local.macapinlac.com
        }

# A list of your web servers
define hostgroup {
        hostgroup_name  http-servers
        alias           HTTP servers
        members         localhost, hinata.media.local.macapinlac.com
        }


