# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Name of host template to use
        host_name               laxus.media.local.macapinlac.com
        alias                   laxus
        address                 laxus.media.local.macapinlac.com
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       laxus.media.local.macapinlac.com
        service_description             Plex web
        check_command                   check_tcp!32400
        }
