# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Name of host template to use
        host_name               mirajane.infra.local.macapinlac.com
        alias                   saltmaster
        address                 mirajane.infra.local.macapinlac.com
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       mirajane.infra.local.macapinlac.com
        service_description             Check DNS
        check_command                   check_dns!5.0!4.0!3.0!10.0!6.0!4.0
        }

