
define service {
        hostgroup_name                  ubuntu-apt-dist-upgrade-servers
        service_description             APT dist upgrade
        check_command                   check_apt_distupgrade
        use                             generic-service
}

define service {
        hostgroup_name                  ubuntu-apt-servers
        service_description             APT
        check_command                   check_apt
        use                             generic-service
}


define service{
        hostgroup_name                  current-load
        use                             generic-service
        service_description             Current Load
        check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
}

define service{
        hostgroup_name                  current-users
        use                             generic-service
        service_description             Current Users
        check_command                   check_users!20!50
}

define service{
        hostgroup_name                  disk-space
        use                             generic-service
        service_description             Disk Space
        check_command                   check_all_disks!20%!10%
}

define service{
        hostgroup_name                  total-processes
        use                             generic-service
        service_description             Total Processes
        check_command                   check_procs!250!400
}



# check that web services are running
define service {
        hostgroup_name                  http-servers
        service_description             HTTP
        check_command                   check_http
        use                             generic-service
        notification_interval           0 ; set > 0 if you want to be renotified
}
