# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Name of host template to use
        host_name               shino.db.local.macapinlac.com
        alias                   shino
        address                 shino.db.local.macapinlac.com
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       shino.db.local.macapinlac.com
        service_description             MySQL
        check_command                   check_mysql_cmdlinecred!nagios!nagios123
}
