# Flaresolverr Environment Configuration

# Logging level (info, debug, warning, error)
LOG_LEVEL=info

# Log HTML content (for debugging)
LOG_HTML=false

# Captcha solver (none, hcaptcha, recaptcha)
CAPTCHA_SOLVER=none

# Timezone
TZ={{ timezone | default('America/Vancouver') }}
