version: "3.5"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"
    environment:
      - TZ={{ timezone }}
      - WEBPASSWORD={{ pihole_password  }}
      - PIHOLE_DNS_={{ pihole_dns }}
      - PIHOLE_UID=1001
      - PIHOLE_GID=1001
    # Volumes store your data between container upgrades
    volumes:
      - /data/containers/pihole/etc-pihole:/etc/pihole/
      - /data/containers/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    # Recommended but not required (DHCP needs NET_ADMIN)
    cap_add:
      - NET_ADMIN
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    restart: unless-stopped
