services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    #image: pihole/pihole:2024.07.0
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    env_file: .env
    environment:
      TZ: '{{ timezone }}'
      PIHOLE_UID: 1001
      PIHOLE_GID: 1001
    # Volumes store your data between container upgrades
    volumes:
      - /data/containers/pihole/etc-pihole:/etc/pihole
    #  - /data/containers/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d
    # Recommended but not required (DHCP needs NET_ADMIN)
    #cap_add:
    #  - NET_ADMIN
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    restart: unless-stopped
