# PiHole Environment Configuration
# Please edit these values before running the role

# Web interface password
FTLCONF_webserver_api_password: 'changeme'

# DNS settings
FTLCONF_dns_listeningMode: 'all'
FTLCONF_dns_upstreams: '8.8.8.8;8.8.4.4' 