services:
  homepage:
    restart: unless-stopped
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - /data/containers/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      PUID: 1001
      PGID: 1001
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.homepage-by-hostname.entrypoints=http"
      - "traefik.http.routers.homepage-by-hostname.rule=Host(`homepage.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.homepage-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.homepage-by-hostname.middlewares=homepage-by-hostname-https-redirect"

      - "traefik.http.routers.homepage-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.homepage-by-hostname-secure.rule=Host(`homepage.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.homepage-by-hostname-secure.tls=true"
      - "traefik.http.routers.homepage-by-hostname-secure.service=homepage"

      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
