---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- RitchiePlex:
    - Overseerr:
        icon: overseerr
        href: https://plx-request.{{ homelab_domain }}
        widget:
          type: overseerr
          url: https://overseerr.van.{{ homelab_domain }}
          key: {{ overseerr_api_key }}
    - Plex:
        icon: plex
        href: https://plx.{{ homelab_domain }}
        widget:
          type: plex
          url: https://plex.van.{{ homelab_domain }}
          key: {{ plex_token }} # see https://www.plexopedia.com/plex-media-server/general/plex-token/

- Services:
    - PhotoPrism:
        icon: photoprism
        href: https://photos.{{ homelab_domain }}
    - Paperless:
        icon: paperless-ngx
        href: https://documents.{{ homelab_domain }}
    - Tube Archivist:
        icon: tube-archivist
        href: https://ta.{{ homelab_domain }}
    - LinkDing:
        icon: linkding
        href: https://bookmarks.{{ homelab_domain }}

- PVR:
    - Sonarr:
        icon: sonarr
        href: https://sonarr.local.{{ homelab_domain }}
        widget:
          type: sonarr
          url: https://sonarr.local.{{ homelab_domain }}
          key: {{ sonarr_api_key }}
          enableQueue: true # optional, defaults to false
    - Radarr:
        icon: radarr
        href: https://radarr.local.{{ homelab_domain }}
        widget:
          type: radarr
          url: https://radarr.local.{{ homelab_domain }}
          key: {{ radarr_api_key }}
          enableQueue: true # optional, defaults to false
    - Prowlarr:
        icon: prowlarr
        href: https://prowlarr.local.{{ homelab_domain }}
        widget:
          type: prowlarr
          url: https://prowlarr.local.{{ homelab_domain }}
          key: {{ prowlarr_api_key }}
          enableQueue: true # optional, defaults to false

- Downloaders:
    - Sabnzbd:
        icon: sabnzbd
        href: https://sabnzbd.local.{{ homelab_domain }}
        widget:
          type: sabnzbd
          url: https://sabnzbd.local.{{ homelab_domain }}
          key: {{ sabnzbd_api_key }}
    - Transmission:
        icon: transmission
        href: https://transmission.local.{{ homelab_domain }}
        widget:
          type: transmission
          url: https://transmission.local.{{ homelab_domain }}

- Core:
    - DNS0:
        icon: pi-hole
        href: https://dns0.local.{{ homelab_domain }}
        widget:
          type: pihole
          url: https://dns0.local.{{ homelab_domain }}
          fields: ["queries", "blocked_percent"]
          key: {{ pihole_api_key }}
    - DNS1:
        icon: pi-hole
        href: https://dns1.local.{{ homelab_domain }}
        widget:
          type: pihole
          url: https://dns1.local.{{ homelab_domain }}
          fields: ["queries", "blocked_percent"]
          key: {{ pihole_api_key }}
    - DNS2:
        icon: pi-hole
        href: https://dns2.local.{{ homelab_domain }}
        widget:
          type: pihole
          url: https://dns2.local.{{ homelab_domain }}
          fields: ["queries", "blocked_percent"]
          key: {{ pihole_api_key }}
