---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

layout:
  RitchiePlex:
    style: row
    columns: 2
  Services:
    style: row
    columns: 5
  PVR:
    style: row
    columns: 3
  Downloaders:
    style: row
    columns: 2
  Core:
    style: row
    columns: 3


providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey
