---
services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    env_file:
      - .env
    volumes:
      - /data/containers/sabnzbd:/config
      - /data/arrs/Downloads/sabnzbd/complete:/downloads
      - /data/arrs/Downloads/sabnzbd/incomplete-downloads:/incomplete-downloads
    ports:
      - {{ sabnzbd_port }}:8080
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      # HTTP router with redirect to HTTPS
      - "traefik.http.routers.sabnzbd.entrypoints=http"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.sabnzbd-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.sabnzbd.middlewares=sabnzbd-https-redirect"
      # HTTPS router
      - "traefik.http.routers.sabnzbd-secure.entrypoints=https"
      - "traefik.http.routers.sabnzbd-secure.rule=Host(`sabnzbd.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.sabnzbd-secure.tls=true"
      - "traefik.http.routers.sabnzbd-secure.service=sabnzbd"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
