.vault-pass-file
.become-pass-file
.facts.json
.envrc
.env

# inventory files
inventory/proxmox-nodes.yml

# exclude all host_vars
host_vars/*

# exclude group_vars with sensitive information
group_vars/all
group_vars/arrs.yml
group_vars/backup.yml
group_vars/dns.yml
group_vars/documents.yml
group_vars/homepage.yml
group_vars/nextcloud.yml
group_vars/photos.yml
group_vars/plex_stack.yml
group_vars/proxy.yml
group_vars/traefik.yml
group_vars/traggo.yml
group_vars/tubearchivist.yml
group_vars/watchtower.yml

# exclude files folder
/files
