---
- name: Update Watchtower container with latest image
  community.docker.docker_compose_v2:
    project_src: /data/services
    files:
      - watchtower.yml
    state: present
    pull: always
    recreate: always
    remove_orphans: false

- name: Wait for Watchtower container to be running
  community.docker.docker_container_info:
    name: watchtower
  register: watchtower_status
  until: watchtower_status.container.State.Running | default(false)
  retries: 5
  delay: 2

- name: Display update status
  debug:
    msg: "Watchtower has been updated and is running"

- name: Remove dangling Watchtower images
  command: docker image prune -f
  changed_when: true
