source_directories:
    - /mnt/source

repositories:
    - path: /mnt/borg-repository
      label: {{ ansible_hostname }}

exclude_patterns:
    - /mnt/source/borgbackup
    - '*.tmp'
    - '*.temp'
    - '*/.cache'
    - '*/cache'
    - '*/tmp'
    - '*/lost+found'

encryption_passphrase: {{ borgbackup_encryption_passphrase }}
compression: {{ borgbackup_compression | default('lz4') }}
archive_name_format: '{{ ansible_hostname }}-{now:%Y-%m-%d-%H%M%S}'

keep_hourly: {{ borgbackup_keep_hourly | default(0) }}
keep_daily: {{ borgbackup_keep_daily | default(7) }}
keep_weekly: {{ borgbackup_keep_weekly | default(4) }}
keep_monthly: {{ borgbackup_keep_monthly | default(6) }}
keep_yearly: {{ borgbackup_keep_yearly | default(1) }}

checks:
    - name: repository
      frequency: {{ borgbackup_check_frequency | default('2 weeks') }}
    - name: archives
      frequency: {{ borgbackup_check_frequency | default('2 weeks') }}
