- name: Create services folder
  become: true
  ansible.builtin.file:
    path: /data/services/whisparr
    state: directory
    owner: ansible
    group: docker

- name: Setup docker compose file for whisparr stack
  template:
    src: docker-compose.j2
    dest: /data/services/whisparr/docker-compose.yml
    owner: ansible
    group: docker

- name: Run container
  shell:
    cmd: "docker compose -f /data/services/whisparr/docker-compose.yml up -d"
