services:
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1001
      - PGID=1001
      - TZ={{ timezone }}
    volumes:
      - /data/containers/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.tautulli-by-hostname.entrypoints=http"
      - "traefik.http.routers.tautulli-by-hostname.rule=Host(`tautulli.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.tautulli-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.tautulli-by-hostname.middlewares=tautulli-by-hostname-https-redirect"

      - "traefik.http.routers.tautulli-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.tautulli-by-hostname-secure.rule=Host(`tautulli.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.tautulli-by-hostname-secure.tls=true"
      - "traefik.http.routers.tautulli-by-hostname-secure.service=tautulli"

      - "traefik.http.routers.tautulli.entrypoints=http"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.local.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.tautulli-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.tautulli.middlewares=tautulli-https-redirect"
      - "traefik.http.routers.tautulli-secure.entrypoints=https"
      - "traefik.http.routers.tautulli-secure.rule=Host(`tautulli.local.{{ homelab_domain }}`)"
      - "traefik.http.routers.tautulli-secure.tls=true"
      - "traefik.http.routers.tautulli-secure.service=tautulli"

      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
