services:
  paperless-ng:
    image: lscr.io/linuxserver/paperless-ng
    container_name: paperless-ng
    env_file: .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /data/containers/paperless-ng:/config
      - /mnt/Documents:/data
    ports:
      - '{{ paperless_ng_port }}:8000'
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.paperless-ng-by-hostname.entrypoints=http"
      - "traefik.http.routers.paperless-ng-by-hostname.rule=Host(`paperless-ng.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.paperless-ng-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.paperless-ng-by-hostname.middlewares=paperless-ng-by-hostname-https-redirect"

      - "traefik.http.routers.paperless-ng-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.rule=Host(`paperless-ng.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.tls=true"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.service=paperless-ng"

      - "traefik.http.services.paperless-ng.loadbalancer.server.port=8000"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  proxy:
    name: proxy
    external: true
