http:
  routers:
    openclaw:
      entryPoints:
        - "https"
      rule: "Host(`openclaw.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      middlewares:
        - default-headers
        - default-whitelist
      tls: {}
      service: openclaw

  services:
    openclaw:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_host }}:18789"
        passHostHeader: true
