version: "3"
services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    environment:
      - WATCHTOWER_SCHEDULE=0 0 1 * * *
      - TZ=America/Vancouver
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=discord://{{discord_token}}@{{discord_webhook_id}}?Username={{ansible_hostname}}+(watchtower)
      # - WATCHTOWER_CLEANUP=true
      # - WATCHTOWER_LABEL_ENABLE=false
      - WATCHTOWER_MONITOR_ONLY=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
