---
- name: Create vaultwarden config directory
  file:
    path: "{{ playbook_dir }}/../homelab_config/ansible/files/config/vaultwarden"
    state: directory
    mode: '0755'
  delegate_to: 127.0.0.1
  become: false

- name: Create vaultwarden environment file from template
  template:
    src: "{{ playbook_dir }}/roles/vaultwarden/templates/environment.j2"
    dest: "{{ playbook_dir }}/../homelab_config/ansible/files/config/vaultwarden/environment"
    mode: '0640'
  delegate_to: 127.0.0.1
  become: false
  args:
    force: false
