- name: Add the user 'ansible'
  become: true
  ansible.builtin.user:
    name: ansible
    uid: 1001
    shell: /bin/bash

- name: Ensure .ssh directory exists for ansible user
  become: true
  ansible.builtin.file:
    path: "/home/ansible/.ssh"
    state: directory
    mode: "0700"
    owner: ansible
    group: ansible

- name: Read SSH public key content
  ansible.builtin.slurp:
    src: "{{ lookup('env', 'HOME') }}/.ssh/id_rsa_homelab_ansible.pub"
  register: ssh_key_content
  delegate_to: localhost
  become: false

- name: Set authorized key for ansible using lineinfile
  become: true
  ansible.builtin.lineinfile:
    path: "/home/ansible/.ssh/authorized_keys"
    line: "{{ ssh_key_content.content | b64decode | trim }}"
    regexp: "^{{ (ssh_key_content.content | b64decode | trim) | regex_escape() }}$"
    state: present
    create: true
    mode: "0600"
    owner: ansible
    group: ansible

- name: Install sudo
  become: true
  apt:
    name: sudo
    state: present
    update_cache: yes

- name: Allow the ansible user to sudo
  become: true
  community.general.sudoers:
    name: ansible-as-root
    state: present
    user: ansible
    runas: root
    commands: ALL
