services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    # network_mode: host
    # runtime: nvidia
    env_file:
      - .env
    volumes:
      - /data/containers/plex:/config
{% if plex_volumes is defined %}
{% for item in plex_volumes %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
{% endif %}
    ports:
      - 32400:32400
      #- 1900:1900/udp
      # - 5353:5353/udp
      #- 8324:8324
      #- 32410:32410/udp
      #- 32412:32412/udp
      #- 32413:32413/udp
      #- 32414:32414/udp
      #- 32469:32469
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.entrypoints=http"
      - "traefik.http.routers.plex.rule=Host(`plex.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.plex-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.plex.middlewares=plex-https-redirect"
      - "traefik.http.routers.plex-secure.entrypoints=https"
      - "traefik.http.routers.plex-secure.rule=Host(`plex.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.plex-secure.tls=true"
      - "traefik.http.routers.plex-secure.service=plex"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
