services:
  monicacrm:
    image: monica
    container_name: monica
    depends_on:
      - monica_db
    ports:
      - "8084:80"
    environment:
      - APP_KEY={{ monica.app_key }}
      - APP_ENV=production
      - DB_HOST=monica_db:3306
      - DB_USERNAME={{ monica.mysql.username }}
      - DB_PASSWORD={{ monica.mysql.password }}
      - DEBUG=false
      - MAIL_MAILER=smtp
      - MAIL_HOST={{ monica.smtp.host }}
      - MAIL_PORT={{ monica.smtp.port }}
      - MAIL_USERNAME={{ monica.smtp.user }}
      - MAIL_PASSWORD={{ monica.smtp.password }}
      - MAIL_ENCRYPTION=tls
      - MAIL_FROM_ADDRESS={{ monica.smtp.from_email }}
      - MAIL_FROM_NAME=Monica
      - APP_DISABLE_SIGNUP={{ monica.disable_signup }}
    volumes:
      - /data/containers/monica/data:/var/www/html/storage
    restart: unless-stopped

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.monica-by-hostname.entrypoints=http"
      - "traefik.http.routers.monica-by-hostname.rule=Host(`monica.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.monica-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.monica-by-hostname.middlewares=monica-by-hostname-https-redirect"

      - "traefik.http.routers.monica-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.monica-by-hostname-secure.rule=Host(`monica.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.monica-by-hostname-secure.tls=true"
      - "traefik.http.routers.monica-by-hostname-secure.service=monica"

      - "traefik.http.services.monica.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"

    networks:
      - proxy

  monica_db:
    image: mariadb:11
    container_name: monica_db
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_DATABASE=monica
      - MYSQL_USER={{ monica.mysql.username }}
      - MYSQL_PASSWORD={{ monica.mysql.password }}
      - PUID=1001
      - PGID=1001
    volumes:
      - /data/containers/monica/db:/var/lib/mysql
    restart: always
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.monica_mariadb_maintenance.schedule: "0 30 1 * * 0"
      ofelia.job-exec.monica_mariadb_maintenance.command: "mariadb-check -u root -p{{ monica.mysql.root_password }} --auto-repair --optimize --all-databases"

    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
