version: '3'
services:
  paperless-ng:
    image: lscr.io/linuxserver/paperless-ng
    container_name: paperless-ng
    environment:
      - PUID=1001
      - PGID=1001
      - TZ={{ timezone }}
      # - REDIS_URL= #optional
      - PAPERLESS_ENABLE_HTTP_REMOTE_USER=true
      - PAPERLESS_LOGOUT_REDIRECT_URL=https://auth.macapinlac.network/logout
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /data/containers/paperless-ng:/config
      - /mnt/Documents:/data
    ports:
      - 8000:8000
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.paperless-ng-by-hostname.entrypoints=http"
      - "traefik.http.routers.paperless-ng-by-hostname.rule=Host(`paperless-ng.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.paperless-ng-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.paperless-ng-by-hostname.middlewares=paperless-ng-by-hostname-https-redirect"

      - "traefik.http.routers.paperless-ng-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.rule=Host(`paperless-ng.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.tls=true"
      - "traefik.http.routers.paperless-ng-by-hostname-secure.service=paperless-ng"

      - "traefik.http.services.paperless-ng.loadbalancer.server.port=8000"
      - "traefik.docker.network=proxy"
networks:
  proxy:
    external: true
