---
volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer  # This line is not allowed to be changed
    external: true

services:
  nextcloud:
    image: nextcloud/all-in-one:latest
    restart: unless-stopped
    container_name: nextcloud-aio-mastercontainer  # This line is not allowed to be changed
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config  # This line is not allowed to be changed
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - {{ nextcloud_port }}:8080
    env_file:
      - .env
    environment:
      # Dynamic per-host binding for reverse proxy
      - APACHE_IP_BINDING={{ ansible_host }}
