services:
  wg-easy:
    env_file:
      - .env
    # image: weejewel/wg-easy
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    volumes:
      - /data/containers/wireguard:/etc/wireguard
    ports:
      - "{{ wg_easy_port_udp }}:51820/udp"
      - "{{ wg_easy_port_tcp }}:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      # - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wg-easy-by-hostname.entrypoints=http"
      - "traefik.http.routers.wg-easy-by-hostname.rule=Host(`wg-easy.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.wg-easy-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.wg-easy-by-hostname.middlewares=wg-easy-by-hostname-https-redirect"

      - "traefik.http.routers.wg-easy-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.wg-easy-by-hostname-secure.rule=Host(`wg-easy.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.wg-easy-by-hostname-secure.tls=true"
      - "traefik.http.routers.wg-easy-by-hostname-secure.service=wg-easy"

      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"
      - "traefik.docker.network=proxy"
networks:
  proxy:
    external: true
