
- name: Traefik routes
  copy:
    src: "{{ playbook_dir }}/files/traefik/config.yml"
    dest: "/data/containers/traefik/config.yml"

- name: Restart traefik
  become: true
  community.docker.docker_compose_v2:
    project_src: /data/services/traefik
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
