- name: Create services folder
  ansible.builtin.file:
    path: /data/services/homepage
    state: directory
    owner: ansible
    group: docker

- name: Setup docker compose file for homepage
  template:
    src: docker-compose.j2
    dest: /data/services/homepage/docker-compose.yml
    owner: ansible
    group: docker

- name: Create homepage data folder
  become: true
  ansible.builtin.file:
    path: /data/containers/homepage
    state: directory
    owner: ansible
    group: docker

- name: Setup setttings for homepage
  copy:
    src: "{{ playbook_dir }}/files/homepage/settings.yaml"
    dest: /data/containers/homepage/settings.yaml

- name: Setup services for homepage
  copy:
    src: "{{ playbook_dir }}/files/homepage/services.yaml"
    dest: /data/containers/homepage/services.yaml

- name: Setup bookmarks for homepage
  copy:
    src: "{{ playbook_dir }}/files/homepage/bookmarks.yaml"
    dest: /data/containers/homepage/bookmarks.yaml

- name: Run container
  shell:
    cmd: "docker compose -f /data/services/homepage/docker-compose.yml up -d"
