services:
  whisparr:
    container_name: whisparr
    image: ghcr.io/hotio/whisparr
    ports:
      - "6969:6969"
    environment:
      - PUID=1001
      - PGID=1001
      - UMASK=002
      - TZ={{ timezone }}
    volumes:
      - /data/containers/whisparr:/config
{% for item in whisparr_volumes %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.whisparr.entrypoints=http"
      - "traefik.http.routers.whisparr.rule=Host(`whisparr.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.whisparr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.whisparr.middlewares=whisparr-https-redirect"
      - "traefik.http.routers.whisparr-secure.entrypoints=https"
      - "traefik.http.routers.whisparr-secure.rule=Host(`whisparr.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.whisparr-secure.tls=true"
      - "traefik.http.routers.whisparr-secure.service=whisparr"
      - "traefik.http.services.whisparr.loadbalancer.server.port=6969"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
