services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - {{ tdarr_webui_port }}:8265
      - {{ tdarr_server_port }}:8266
      - {{ tdarr_node_port }}:8267
    volumes:
      - /data/containers/tdarr/server:/app/server
      - /data/containers/tdarr/configs:/app/configs
      - /data/containers/tdarr/logs:/app/logs
{% for item in tdarr_volumes %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
      - /tmp/:/temp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tdarr.entrypoints=http"
      - "traefik.http.routers.tdarr.rule=Host(`tdarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.tdarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.tdarr.middlewares=tdarr-https-redirect"
      - "traefik.http.routers.tdarr-secure.entrypoints=https"
      - "traefik.http.routers.tdarr-secure.rule=Host(`tdarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.tdarr-secure.tls=true"
      - "traefik.http.routers.tdarr-secure.service=tdarr"
      - "traefik.http.services.tdarr.loadbalancer.server.port=8265"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
