---
- name: restart whisparr
  community.docker.docker_compose_v2:
    project_src: /data/services/whisparr
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
