---
- name: restart transmission-openvpn
  community.docker.docker_compose_v2:
    project_src: /data/services/transmission-openvpn
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
