---
- name: Create config directory for pihole-exporter
  ansible.builtin.file:
    path: "{{ playbook_dir }}/../homelab_config/ansible/files/config/pihole-exporter"
    state: directory
    mode: '0755'
  delegate_to: localhost
  become: false

- name: Create pihole-exporter environment file
  ansible.builtin.template:
    src: "{{ playbook_dir }}/roles/pihole-exporter/templates/environment.j2"
    dest: "{{ playbook_dir }}/../homelab_config/ansible/files/config/pihole-exporter/environment"
  register: env_created
  delegate_to: localhost
  become: false

- name: Display setup instructions
  debug:
    msg: |
      Environment file has been created at {{ playbook_dir }}/../homelab_config/ansible/files/config/pihole-exporter/environment
      Please review and customize this file with your PiHole API token before running site.yml
      After customization, you can run site.yml to deploy the services.
