---
services:
  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    ports:
      - {{ searxng_port }}:8080
    env_file:
      - .env
    volumes:
      - /data/containers/searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.searxng.entrypoints=http"
      - "traefik.http.routers.searxng.rule=Host(`searxng.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.searxng-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.searxng.middlewares=searxng-https-redirect"
      - "traefik.http.routers.searxng-secure.entrypoints=https"
      - "traefik.http.routers.searxng-secure.rule=Host(`searxng.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.searxng-secure.tls=true"
      - "traefik.http.routers.searxng-secure.service=searxng"
      - "traefik.http.services.searxng.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

  valkey:
    container_name: searxng-valkey
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    volumes:
      - searxng-valkey-data:/data
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true

volumes:
  searxng-data:
    driver: local
  searxng-valkey-data:
    driver: local
