# InvoiceNinja nginx http-level settings
# Source: https://github.com/invoiceninja/dockerfiles/tree/debian
client_max_body_size 10M;
client_body_buffer_size 10M;
server_tokens off;

fastcgi_buffers 32 16K;

gzip on;
gzip_comp_level 2;
gzip_min_length 1M;
gzip_proxied any;
gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
