- name: Create data folder
  become: true
  ansible.builtin.file:
    path: /data/containers/portainer
    state: directory
    owner: ansible
    group: docker

- name: Setup docker compose file for portainer
  become: true
  template:
    src: docker-compose.j2
    dest: /data/services/portainer.yml
    owner: ansible
    group: docker

- name: Run container
  shell:
    cmd: "docker compose -f /data/services/portainer.yml up -d"

