---
- name: Update BorgBackup container with latest image
  community.docker.docker_compose_v2:
    project_src: /data/services
    files:
      - borgbackup.yml
    state: present
    pull: always
    recreate: always
    remove_orphans: false
  register: compose_update

- name: Wait for BorgBackup container to be running
  community.docker.docker_container_info:
    name: borgbackup
  register: borgbackup_status
  until: borgbackup_status.container.State.Running | default(false)
  retries: 5
  delay: 2

- name: Display update status
  debug:
    msg: "BorgBackup has been updated and is running"

- name: Remove dangling BorgBackup images
  command: docker image prune -f
  changed_when: true
