---
services:
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    env_file:
      - .env
    volumes:
      - /data/containers/bazarr:/config
{% for item in sonarr %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
{% for item in radarr %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
    ports:
      - {{ bazarr_port }}:6767
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.entrypoints=http"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.bazarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.bazarr.middlewares=bazarr-https-redirect"
      - "traefik.http.routers.bazarr-secure.entrypoints=https"
      - "traefik.http.routers.bazarr-secure.rule=Host(`bazarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.bazarr-secure.tls=true"
      - "traefik.http.routers.bazarr-secure.service=bazarr"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
