services:
  semaphore_postgres:
    container_name: semaphore_postgres
    restart: unless-stopped
    image: postgres:14
    hostname: postgres
    volumes:
      - /data/containers/semaphore_postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: semaphore
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_DB: semaphore
    networks:
      - proxy

  semaphore:
    container_name: semaphore
    ports:
      - 3000:3000
    image: semaphoreui/semaphore:latest
    environment:
      ANSIBLE_HOST_KEY_CHECKING: "False"
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_DB_PASS: {{ postgres_password }}
      SEMAPHORE_DB_HOST: semaphore_postgres
      SEMAPHORE_DB_PORT: 5432
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: {{ semaphore_admin_password }}
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      SEMAPHORE_ADMIN: admin
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: {{ semaphore_access_key_encryption }} 
      SEMAPHORE_LDAP_ACTIVATED: 'no' # if you wish to use ldap, set to: 'yes' 
      SEMAPHORE_LDAP_HOST: dc01.local.example.com
      SEMAPHORE_LDAP_PORT: '636'
      SEMAPHORE_LDAP_NEEDTLS: 'yes'
      SEMAPHORE_LDAP_DN_BIND: 'uid=bind_user,cn=users,cn=accounts,dc=local,dc=shiftsystems,dc=net'
      SEMAPHORE_LDAP_PASSWORD: 'ldap_bind_account_password'
      SEMAPHORE_LDAP_DN_SEARCH: 'dc=local,dc=example,dc=com'
      SEMAPHORE_LDAP_SEARCH_FILTER: "(\u0026(uid=%s)(memberOf=cn=ipausers,cn=groups,cn=accounts,dc=local,dc=example,dc=com))"
    depends_on:
      - semaphore_postgres
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.semaphore-by-hostname.entrypoints=http"
      - "traefik.http.routers.semaphore-by-hostname.rule=Host(`semaphore.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.semaphore-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.semaphore-by-hostname.middlewares=semaphore-by-hostname-https-redirect"

      - "traefik.http.routers.semaphore-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.semaphore-by-hostname-secure.rule=Host(`semaphore.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.semaphore-by-hostname-secure.tls=true"
      - "traefik.http.routers.semaphore-by-hostname-secure.service=semaphore"

      - "traefik.http.routers.semaphore.entrypoints=http"
      - "traefik.http.routers.semaphore.rule=Host(`semaphore.local.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.semaphore-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.semaphore.middlewares=semaphore-https-redirect"
      - "traefik.http.routers.semaphore-secure.entrypoints=https"
      - "traefik.http.routers.semaphore-secure.rule=Host(`semaphore.local.{{ homelab_domain }}`)"
      - "traefik.http.routers.semaphore-secure.tls=true"
      - "traefik.http.routers.semaphore-secure.service=semaphore"

      - "traefik.http.services.semaphore.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
