---
services:
  semaphore_postgres:
    container_name: semaphore_postgres
    restart: unless-stopped
    image: postgres:14
    hostname: postgres
    volumes:
      - /data/containers/semaphore_postgres:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - proxy

  semaphore:
    container_name: semaphore
    ports:
      - {{ semaphore_port }}:3000
    image: semaphoreui/semaphore:v2.16.47
    env_file:
      - .env
    depends_on:
      - semaphore_postgres
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.semaphore-by-hostname.entrypoints=http"
      - "traefik.http.routers.semaphore-by-hostname.rule=Host(`semaphore.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.semaphore-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.semaphore-by-hostname.middlewares=semaphore-by-hostname-https-redirect"

      - "traefik.http.routers.semaphore-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.semaphore-by-hostname-secure.rule=Host(`semaphore.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.semaphore-by-hostname-secure.tls=true"
      - "traefik.http.routers.semaphore-by-hostname-secure.service=semaphore"

      - "traefik.http.routers.semaphore.entrypoints=http"
      - "traefik.http.routers.semaphore.rule=Host(`semaphore.local.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.semaphore-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.semaphore.middlewares=semaphore-https-redirect"
      - "traefik.http.routers.semaphore-secure.entrypoints=https"
      - "traefik.http.routers.semaphore-secure.rule=Host(`semaphore.local.{{ homelab_domain }}`)"
      - "traefik.http.routers.semaphore-secure.tls=true"
      - "traefik.http.routers.semaphore-secure.service=semaphore"

      - "traefik.http.services.semaphore.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true