---
services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    env_file:
      - .env
    ports:
      - {{ radarr_port }}:7878
    volumes:
      - /data/containers/radarr/config:/config
{% for item in radarr | default([]) %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
      - /data/arrs/Downloads/sabnzbd/complete:/sabnzbd
      - /data/arrs/Downloads/transmission/completed:/transmission
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.radarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-https-redirect"
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
