---
- hosts: all
  gather_facts: true  # Explicitly gather facts for this play

# Note: Initial host setup (ansible user creation) is handled by host-setup.yml
# Run host-setup.yml once for new hosts before running site.yml

- name: "Deploy BorgBackup (Foundational Backup Service)"
  hosts: "managed_hosts"
  remote_user: ansible
  become: true
  roles:
    - role: borgbackup
      tags:
        - borgbackup
        - backup

# Downloaders (deployed before content managers)
- hosts: "sabnzbd"
  remote_user: ansible
  roles:
    - role: sabnzbd
      tags:
        - sabnzbd
        - arrs

- hosts: "transmission-openvpn"
  remote_user: ansible
  roles:
    - role: transmission-openvpn
      tags:
        - transmission
        - transmission-openvpn
        - arrs

- hosts: "bazarr"
  remote_user: ansible
  roles:
    - role: shares
    - role: bazarr
      tags:
        - bazarr
        - arrs

- hosts: "lidarr"
  remote_user: ansible
  roles:
    - role: shares
    - role: lidarr
      tags:
        - lidarr
        - arrs

- hosts: "sonarr"
  remote_user: ansible
  roles:
    - role: shares
    - role: sonarr
      tags:
        - sonarr
        - arrs

- hosts: "radarr"
  remote_user: ansible
  roles:
    - role: shares
    - role: radarr
      tags:
        - radarr
        - arrs

# Indexers
- hosts: "prowlarr"
  remote_user: ansible
  roles:
    - role: prowlarr
      tags:
        - prowlarr
        - arrs

- hosts: "flaresolverr"
  remote_user: ansible
  roles:
    - role: flaresolverr
      tags:
        - flaresolverr
        - arrs

- hosts: "whisparr"
  remote_user: ansible
  roles:
    - role: shares
    - role: whisparr
      tags:
        - whisparr

- hosts: "mylar3"
  remote_user: ansible
  roles:
    - role: shares
    - role: mylar3
      tags:
        - mylar3

- hosts: "jellyseerr"
  remote_user: ansible
  roles:
    - role: jellyseerr

- hosts: "overseer"
  remote_user: ansible
  roles:
    - role: overseer

- hosts: "freshrss"
  remote_user: ansible
  roles:
    - role: freshrss
      tags:
        - freshrss

- hosts: "homeassistant"
  remote_user: ansible
  roles:
    - role: homeassistant

- hosts: "teslamate"
  remote_user: ansible
  roles:
    - role: teslamate

- hosts: "linkding"
  remote_user: ansible
  roles:
    - role: linkding

- hosts: tautulli
  remote_user: ansible
  roles:
    - role: tautulli

- hosts: kometa
  remote_user: ansible
  roles:
    - role: kometa

- hosts: "navidrome"
  remote_user: ansible
  roles:
    - role: navidrome
      tags:
        - navidrome

- hosts: "jellyfin"
  remote_user: ansible
  roles:
    - role: shares
    - role: jellyfin

- hosts: "plex"
  remote_user: ansible
  roles:
    - role: shares
    - role: plex

- hosts: "tdarr"
  remote_user: ansible
  roles:
    - role: shares
    - role: tdarr

- hosts: "tautulli"
  remote_user: ansible
  roles:
    - role: tautulli

- hosts: "tubearchivist"
  remote_user: ansible
  roles:
    - role: tubearchivist
      tags:
        - tubearchivist

- hosts: "obsidian"
  remote_user: ansible
  roles:
    - role: obsidian
      tags:
        - obsidian

- hosts: "cura"
  remote_user: ansible
  roles:
    - role: cura

- hosts: "traggo"
  remote_user: ansible
  roles:
    - role: traggo

- hosts: "semaphore"
  remote_user: ansible
  roles:
    - role: semaphore
      tags:
        - semaphore

- hosts: "ghostfolio"
  remote_user: ansible
  roles:
    - role: ghostfolio

- hosts: "kavita"
  remote_user: ansible
  roles:
    - role: shares
    - role: kavita
      tags:
        - kavita

- hosts: "audiobookshelf"
  remote_user: ansible
  roles:
    - role: shares
    - role: audiobookshelf
      tags:
        - audiobookshelf

# Plan to deprecate this
- hosts: "docker"
  remote_user: ansible
  roles:
    - role: portainer
      tags:
        - portainer
        - containers
 ####

- hosts: "containers"
  remote_user: ansible
  roles:
    - role: portainer
      tags:
        - portainer
        - containers
    - role: traefik
      tags:
        - traefik
        - containers
    - role: diun
      tags:
        - diun
        - containers

- hosts: "diun"
  remote_user: ansible
  roles:
    - role: diun

- hosts: "portainer"
  remote_user: ansible
  roles:
    - role: portainer
      tags:
        - portainer
        - containers

- hosts: "pihole"
  remote_user: ansible
  roles:
    - role: pihole

# Core Infrastructure
- name: "Deploy PiHole DNS"
  hosts: pihole
  remote_user: ansible
  roles:
    - role: pihole
      tags:
        - pihole

- name: "Deploy PiHole Exporter"
  hosts: pihole-exporter
  remote_user: ansible
  roles:
    - role: pihole-exporter
      tags:
        - pihole-exporter
        - monitoring

- name: "Depoy Nebula Sync"
  hosts: "nebula-sync"
  remote_user: ansible
  roles:
    - role: nebula-sync
      tags:
        - nebula-sync

- hosts: "edge"
  remote_user: ansible
  roles:
    - role: traefik
      tags:
        - traefik
        - containers
    - role: authelia
      tags:
        - authelia
        - edge
    - role: cloudflare-ddns
      tags:
        - cloudflare-ddns
        - edge
    - role: wg-easy
      tags:
        - wg-easy
        - edge
  tasks:
    - name: "Update external routes"
      include_tasks: roles/traefik/tasks/update_routes_external.yml
      tags:
        - traefik
        - containers

- hosts: "prometheus"
  remote_user: ansible
  roles:
    - role: prometheus
      tags:
        - prometheus

- hosts: "photoprism"
  remote_user: ansible
  roles:
    - role: shares
    - role: photoprism

- hosts: "paperless-ng"
  remote_user: ansible
  roles:
    - role: shares
    - role: paperless-ng

- hosts: "homepage"
  remote_user: ansible
  roles:
    - role: homepage

- hosts: "nextcloud"
  remote_user: ansible
  roles:
    - role: nextcloud

- hosts: "baserow"
  remote_user: ansible
  roles:
    - role: baserow
      tags:
        - baserow

- hosts: "n8n"
  remote_user: ansible
  roles:
    - role: n8n
      tags:
        - n8n

- hosts: "docmost"
  remote_user: ansible
  roles:
    - role: docmost

- hosts: "monica"
  remote_user: ansible
  roles:
    - role: monica
      tags:
        - monica

- hosts: "ofelia"
  remote_user: ansible
  roles:
    - role: ofelia

- hosts: "syncthing"
  remote_user: ansible
  roles:
    - role: syncthing
      tags:
        - syncthing

- hosts: "kimai"
  remote_user: ansible
  roles:
    - role: kimai
      tags:
        - kimai

- hosts: "immich"
  remote_user: ansible
  roles:
    - role: immich

- hosts: "kasm"
  remote_user: ansible
  roles:
    - role: kasm

- hosts: "blinko"
  remote_user: ansible
  roles:
    - role: blinko
      tags:
        - blinko

- hosts: "outline"
  remote_user: ansible
  roles:
    - role: outline
      tags:
        - outline
