---
- name: "Setup PiHole DNS"
  hosts: pihole
  connection: local
  tasks:
    - name: "Run PiHole setup if group exists"
      include_tasks: roles/pihole/tasks/setup.yml
      run_once: true
      when: groups['pihole'] is defined and groups['pihole'] | length > 0

- name: "Setup PiHole Exporter"
  hosts: pihole-exporter
  connection: local
  tasks:
    - name: "Run PiHole Exporter setup if group exists"
      include_tasks: roles/pihole-exporter/tasks/setup.yml
      run_once: true
      when: groups['pihole-exporter'] is defined and groups['pihole-exporter'] | length > 0

- name: "Setup Nebula Sync"
  hosts: nebula-sync
  connection: local
  tasks:
    - name: "Run Nebula Sync setup if group exists"
      include_tasks: roles/nebula-sync/tasks/setup.yml
      run_once: true
      when: groups['nebula-sync'] is defined and groups['nebula-sync'] | length > 0

- name: "Setup N8N"
  hosts: n8n
  connection: local
  tasks:
    - name: "Run N8N setup if group exists"
      include_tasks: roles/n8n/tasks/setup.yml
      run_once: true
      when: groups['n8n'] is defined and groups['n8n'] | length > 0

- name: "Setup Monica"
  hosts: monica
  connection: local
  tasks:
    - name: "Run Monica setup if group exists"
      include_tasks: roles/monica/tasks/setup.yml
      run_once: true
      when: groups['monica'] is defined and groups['monica'] | length > 0

- name: "Setup Kimai"
  hosts: kimai
  connection: local
  tasks:
    - name: "Run Kimai setup if group exists"
      include_tasks: roles/kimai/tasks/setup.yml
      run_once: true
      when: groups['kimai'] is defined and groups['kimai'] | length > 0

- name: "Setup Immich"
  hosts: immich
  connection: local
  tasks:
    - name: "Run Immich setup if group exists"
      include_tasks: roles/immich/tasks/setup.yml
      run_once: true
      when: groups['immich'] is defined and groups['immich'] | length > 0

- name: "Setup Plex"
  hosts: localhost
  connection: local
  tasks:
    - name: "Run Plex setup if group exists"
      include_tasks: roles/plex/tasks/setup.yml
      run_once: true
      when: groups['plex'] is defined and groups['plex'] | length > 0

- name: "Setup kasm"
  hosts: kasm
  connection: local
  tasks:
    - name: "Run kasm setup if group exists"
      include_tasks: roles/kasm/tasks/setup.yml
      run_once: true
      when: groups['kasm'] is defined and groups['kasm'] | length > 0

- name: "Setup Prometheus"
  hosts: prometheus
  connection: local
  tasks:
    - name: "Run Prometheus setup if group exists"
      include_tasks: roles/prometheus/tasks/setup.yml
      run_once: true
      when: groups['prometheus'] is defined and groups['prometheus'] | length > 0

- name: "Setup Semaphore"
  hosts: semaphore
  connection: local
  tasks:
    - name: "Run Semaphore setup if group exists"
      include_tasks: roles/semaphore/tasks/setup.yml
      run_once: true
      when: groups['semaphore'] is defined and groups['semaphore'] | length > 0

- name: "Setup Jellyfin"
  hosts: jellyfin
  connection: local
  tasks:
    - name: "Run Jellyfin setup if group exists"
      include_tasks: roles/jellyfin/tasks/setup.yml
      run_once: true
      when: groups['jellyfin'] is defined and groups['jellyfin'] | length > 0

- name: "Setup Kavita"
  hosts: kavita
  connection: local
  tasks:
    - name: "Run Kavita setup if group exists"
      include_tasks: roles/kavita/tasks/setup.yml
      run_once: true
      when: groups['kavita'] is defined and groups['kavita'] | length > 0

- name: "Setup Navidrome"
  hosts: navidrome
  connection: local
  tasks:
    - name: "Run Navidrome setup if group exists"
      include_tasks: roles/navidrome/tasks/setup.yml
      run_once: true
      when: groups['navidrome'] is defined and groups['navidrome'] | length > 0

- name: "Setup FreshRSS"
  hosts: freshrss
  connection: local
  tasks:
    - name: "Run FreshRSS setup if group exists"
      include_tasks: roles/freshrss/tasks/setup.yml
      run_once: true
      when: groups['freshrss'] is defined and groups['freshrss'] | length > 0

- name: "Setup Audiobookshelf"
  hosts: audiobookshelf
  connection: local
  tasks:
    - name: "Run Audiobookshelf setup if group exists"
      include_tasks: roles/audiobookshelf/tasks/setup.yml
      run_once: true
      when: groups['audiobookshelf'] is defined and groups['audiobookshelf'] | length > 0

- name: "Setup TubeArchivist"
  hosts: tubearchivist
  connection: local
  tasks:
    - name: "Run TubeArchivist setup if group exists"
      include_tasks: roles/tubearchivist/tasks/setup.yml
      run_once: true
      when: groups['tubearchivist'] is defined and groups['tubearchivist'] | length > 0

- name: "Setup Obsidian"
  hosts: obsidian
  connection: local
  tasks:
    - name: "Run Obsidian setup if group exists"
      include_tasks: roles/obsidian/tasks/setup.yml
      run_once: true
      when: groups['obsidian'] is defined and groups['obsidian'] | length > 0

- name: "Setup Blinko"
  hosts: blinko
  connection: local
  tasks:
    - name: "Run Blinko setup if group exists"
      include_tasks: roles/blinko/tasks/setup.yml
      run_once: true
      when: groups['blinko'] is defined and groups['blinko'] | length > 0

- name: "Setup Baserow"
  hosts: baserow
  connection: local
  tasks:
    - name: "Run Baserow setup if group exists"
      include_tasks: roles/baserow/tasks/setup.yml
      run_once: true
      when: groups['baserow'] is defined and groups['baserow'] | length > 0

- name: "Setup Outline"
  hosts: outline
  connection: local
  tasks:
    - name: "Run Outline setup if group exists"
      include_tasks: roles/outline/tasks/setup.yml
      run_once: true
      when: groups['outline'] is defined and groups['outline'] | length > 0

- name: "Setup Cloudflare DDNS"
  hosts: edge
  connection: local
  tasks:
    - name: "Run Cloudflare DDNS setup if group exists"
      include_tasks: roles/cloudflare-ddns/tasks/setup.yml
      run_once: true
      when: groups['edge'] is defined and groups['edge'] | length > 0

- name: "Setup WireGuard Easy"
  hosts: edge
  connection: local
  tasks:
    - name: "Run WireGuard Easy setup if group exists"
      include_tasks: roles/wg-easy/tasks/setup.yml
      run_once: true
      when: groups['edge'] is defined and groups['edge'] | length > 0

- name: "Setup Authelia"
  hosts: edge
  connection: local
  tasks:
    - name: "Run Authelia setup if group exists"
      include_tasks: roles/authelia/tasks/setup.yml
      run_once: true
      when: groups['edge'] is defined and groups['edge'] | length > 0

- name: "Setup Diun"
  hosts: containers
  connection: local
  tasks:
    - name: "Run Diun setup if group exists"
      include_tasks: roles/diun/tasks/setup.yml
      run_once: true
      when: (groups['containers'] is defined and groups['containers'] | length > 0) or (groups['diun'] is defined and groups['diun'] | length > 0)

- name: "Setup Syncthing"
  hosts: syncthing
  connection: local
  tasks:
    - name: "Run Syncthing setup if group exists"
      include_tasks: roles/syncthing/tasks/setup.yml
      run_once: true
      when: groups['syncthing'] is defined and groups['syncthing'] | length > 0

- name: "Setup Sabnzbd"
  hosts: sabnzbd
  connection: local
  tasks:
    - name: "Run Sabnzbd setup if group exists"
      include_tasks: roles/sabnzbd/tasks/setup.yml
      run_once: true
      when: groups['sabnzbd'] is defined and groups['sabnzbd'] | length > 0

- name: "Setup Transmission-OpenVPN"
  hosts: transmission-openvpn
  connection: local
  tasks:
    - name: "Run Transmission-OpenVPN setup if group exists"
      include_tasks: roles/transmission-openvpn/tasks/setup.yml
      run_once: true
      when: groups['transmission-openvpn'] is defined and groups['transmission-openvpn'] | length > 0

- name: "Setup Mylar3"
  hosts: mylar3
  connection: local
  tasks:
    - name: "Run Mylar3 setup if group exists"
      include_tasks: roles/mylar3/tasks/setup.yml
      run_once: true
      when: groups['mylar3'] is defined and groups['mylar3'] | length > 0

- name: "Setup Whisparr"
  hosts: whisparr
  connection: local
  tasks:
    - name: "Run Whisparr setup if group exists"
      include_tasks: roles/whisparr/tasks/setup.yml
      run_once: true
      when: groups['whisparr'] is defined and groups['whisparr'] | length > 0

- name: "Setup Prowlarr"
  hosts: prowlarr
  connection: local
  tasks:
    - name: "Run Prowlarr setup if group exists"
      include_tasks: roles/prowlarr/tasks/setup.yml
      run_once: true
      when: groups['prowlarr'] is defined and groups['prowlarr'] | length > 0

- name: "Setup Flaresolverr"
  hosts: flaresolverr
  connection: local
  tasks:
    - name: "Run Flaresolverr setup if group exists"
      include_tasks: roles/flaresolverr/tasks/setup.yml
      run_once: true
      when: groups['flaresolverr'] is defined and groups['flaresolverr'] | length > 0

- name: "Setup Bazarr"
  hosts: bazarr
  connection: local
  tasks:
    - name: "Run Bazarr setup if group exists"
      include_tasks: roles/bazarr/tasks/setup.yml
      run_once: true
      when: groups['bazarr'] is defined and groups['bazarr'] | length > 0

- name: "Setup Lidarr"
  hosts: lidarr
  connection: local
  tasks:
    - name: "Run Lidarr setup if group exists"
      include_tasks: roles/lidarr/tasks/setup.yml
      run_once: true
      when: groups['lidarr'] is defined and groups['lidarr'] | length > 0

- name: "Setup Sonarr"
  hosts: sonarr
  connection: local
  tasks:
    - name: "Run Sonarr setup if group exists"
      include_tasks: roles/sonarr/tasks/setup.yml
      run_once: true
      when: groups['sonarr'] is defined and groups['sonarr'] | length > 0

- name: "Setup Radarr"
  hosts: radarr
  connection: local
  tasks:
    - name: "Run Radarr setup if group exists"
      include_tasks: roles/radarr/tasks/setup.yml
      run_once: true
      when: groups['radarr'] is defined and groups['radarr'] | length > 0

- name: "Setup BentoPDF"
  hosts: bentopdf
  connection: local
  tasks:
    - name: "Run BentoPDF setup if group exists"
      include_tasks: roles/bentopdf/tasks/setup.yml
      run_once: true
      when: groups['bentopdf'] is defined and groups['bentopdf'] | length > 0
