---
- name: restart traefik
  community.docker.docker_compose_v2:
    project_src: /data/services/traefik
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
