---
services:
  cura:
    container_name: cura
    image: lscr.io/linuxserver/cura:latest
    ports:
      - {{ cura_http_port }}:3000
      - {{ cura_https_port }}:3001
    env_file:
      - .env
    volumes:
      - /data/containers/cura:/config
    shm_size: "1gb"
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      # HTTP router with redirect to HTTPS
      - "traefik.http.routers.cura.entrypoints=http"
      - "traefik.http.routers.cura.rule=Host(`cura.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.cura-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.cura.middlewares=cura-https-redirect"
      # HTTPS router
      - "traefik.http.routers.cura-secure.entrypoints=https"
      - "traefik.http.routers.cura-secure.rule=Host(`cura.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.cura-secure.tls=true"
      - "traefik.http.routers.cura-secure.service=cura"
      - "traefik.http.services.cura.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
