---
services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing
    env_file:
      - .env
    volumes:
      - /data/containers/syncthing:/config
{% for item in syncthing_volumes %}
      - {{ item.host_folder }}:{{ item.container }}
{% endfor %}
    ports:
      - {{ syncthing_port }}:8384
      - {{ syncthing_sync_port }}:22000/tcp
      - {{ syncthing_sync_port }}:22000/udp
      - {{ syncthing_discovery_port }}:21027/udp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syncthing.entrypoints=http"
      - "traefik.http.routers.syncthing.rule=Host(`syncthing.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.syncthing-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.syncthing.middlewares=syncthing-https-redirect"
      - "traefik.http.routers.syncthing-secure.entrypoints=https"
      - "traefik.http.routers.syncthing-secure.rule=Host(`syncthing.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.syncthing-secure.tls=true"
      - "traefik.http.routers.syncthing-secure.service=syncthing"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
