- name: "Dependencies"
  include_tasks: roles/shares/tasks/dependencies.yml

- name: Check if mountpoint directory exists
  ansible.builtin.stat:
    path: "{{ destination }}"
  register: mountpoint_stat

- name: Create mountpoint directory if it doesn't exist
  become: yes
  ansible.builtin.file:
    path: "{{ destination }}"
    state: directory
    mode: '0755'
  when: not mountpoint_stat.stat.exists

#- name: Workaround ensure share is unmounted
#  command: "umount /media/ContainerData"

- name: Mount nfs or smb shares
  become: yes
  ansible.posix.mount:
    fstype: "{{ type }}"
    src: "{{ source }}"
    path: "{{ destination }}"
    opts: "{{ options }}"
    state: mounted
