
- name: Traefik routes
  become: true
  template:
    src: routes.yml.j2
    dest: /data/containers/traefik/config.yml
    owner: ansible
    group: docker

- name: Restart traefik
  become: true
  community.docker.docker_compose_v2:
    project_src: /data/services/traefik
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
  ignore_errors: true
