---
services:
  obsidian:
    container_name: obsidian
    image: lscr.io/linuxserver/obsidian:latest
    ports:
      - {{ obsidian_http_port }}:3000
      - {{ obsidian_https_port }}:3001
    env_file:
      - .env
    volumes:
      - /data/containers/obsidian:/config
    shm_size: "1gb"
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      # HTTP router with redirect to HTTPS
      - "traefik.http.routers.obsidian.entrypoints=http"
      - "traefik.http.routers.obsidian.rule=Host(`obsidian.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.obsidian-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.obsidian.middlewares=obsidian-https-redirect"
      # HTTPS router
      - "traefik.http.routers.obsidian-secure.entrypoints=https"
      - "traefik.http.routers.obsidian-secure.rule=Host(`obsidian.{{ ansible_facts["hostname"] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.obsidian-secure.tls=true"
      - "traefik.http.routers.obsidian-secure.service=obsidian"
      - "traefik.http.services.obsidian.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
