version: '3.5'
services:
  obsidian:
    image: 'rsmacapinlac/docker-obsidian:latest'
    container_name: obsidian
    ports:
      - 8080:8080
    volumes:
      - /data/containers/obsidian:/config
    environment:
      - PUID=1001
      - PGID=1001
      - TZ={{ timezone }}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.obsidian-by-hostname.entrypoints=http"
      - "traefik.http.routers.obsidian-by-hostname.rule=Host(`obsidian.{{ ansible_hostname }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.obsidian-by-hostname-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.obsidian-by-hostname.middlewares=obsidian-by-hostname-https-redirect"

      - "traefik.http.routers.obsidian-by-hostname-secure.entrypoints=https"
      - "traefik.http.routers.obsidian-by-hostname-secure.rule=Host(`obsidian.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.obsidian-by-hostname-secure.tls=true"
      - "traefik.http.routers.obsidian-by-hostname-secure.service=obsidian"

      - "traefik.http.routers.obsidian.entrypoints=http"
      - "traefik.http.routers.obsidian.rule=Host(`obsidian.local.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.obsidian-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.obsidian.middlewares=obsidian-https-redirect"
      - "traefik.http.routers.obsidian-secure.entrypoints=https"
      - "traefik.http.routers.obsidian-secure.rule=Host(`obsidian.local.{{ homelab_domain }}`)"
      - "traefik.http.routers.obsidian-secure.tls=true"
      - "traefik.http.routers.obsidian-secure.service=obsidian"

      - "traefik.http.services.obsidian.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
