# Mylar3 Environment Configuration

# User/Group Configuration
PUID={{ mylar3_puid | default('1001') }}
PGID={{ mylar3_pgid | default('1001') }}

# Timezone
TZ={{ timezone | default('America/Vancouver') }}
