---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  address: 'tcp://0.0.0.0:{{ authelia_port }}/'

log:
  level: debug

theme: dark

# JWT secret loaded from environment variable AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE

default_redirection_url: {{ authelia_auth_url }}

totp:
  issuer: authelia.com

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

access_control:
  default_policy: deny
  rules:
    - domain: van.{{ cloudflare_zone }}
      policy: one_factor
    - domain: pkm.{{ cloudflare_zone }}
      policy: one_factor
    - domain: documents.{{ cloudflare_zone }}
      policy: one_factor

session:
  name: authelia_session
  # Secret loaded from environment variable AUTHELIA_SESSION_SECRET_FILE
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: {{ cloudflare_zone }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  # Encryption key loaded from environment variable AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
...
