---
- name: Restart openclaw gateway
  become: true
  become_user: ansible
  command: /home/ansible/.npm-global/bin/openclaw gateway restart

- name: restart traefik
  become: true
  community.docker.docker_compose_v2:
    project_src: /data/services/traefik
    files:
      - compose.yml
    state: present
    recreate: always
    remove_orphans: false
  ignore_errors: true
