services:
  linkding:
    container_name: linkding
    image: sissbruecker/linkding:latest-plus
    restart: unless-stopped
    env_file: .env
    ports:
      - '{{ linkding_port }}:9090'
    volumes:
      - /data/containers/linkding:/etc/linkding/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkding.entrypoints=http"
      - "traefik.http.routers.linkding.rule=Host(`linkding.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"

      - "traefik.http.middlewares.linkding-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.linkding.middlewares=linkding-https-redirect"

      - "traefik.http.routers.linkding-secure.entrypoints=https"
      - "traefik.http.routers.linkding-secure.rule=Host(`linkding.{{ ansible_facts['hostname'] }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.linkding-secure.tls=true"
      - "traefik.http.routers.linkding-secure.service=linkding"

      - "traefik.http.services.linkding.loadbalancer.server.port=9090"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
