# Linkding Environment Configuration

# Timezone
TZ={{ timezone | default('America/Vancouver') }}

# Linkding Configuration
LD_DISABLE_URL_VALIDATION={{ linkding_disable_url_validation | default('True') }}
