---
- name: Pull latest PiHole image
  community.docker.docker_image_pull:
    name: pihole/pihole:latest
  register: image_pull

- name: Update PiHole container with latest image
  community.docker.docker_compose_v2:
    project_src: /data/services/pihole
    files:
      - compose.yml
    state: present
    pull: always
    recreate: always

- name: Display update status
  debug:
    msg: "PiHole container has been recreated"

- name: Get list of all PiHole images
  command: docker images pihole/pihole --format "{{ '{{' }}.ID{{ '}}' }}|{{ '{{' }}.CreatedAt{{ '}}' }}" --no-trunc
  register: pihole_images
  changed_when: false

- name: Identify old PiHole images to remove (keep 3 most recent)
  set_fact:
    images_to_remove: "{{ pihole_images.stdout_lines | map('split', '|') | sort(attribute='1', reverse=true) | map(attribute='0') | list | [3:] }}"
  when: pihole_images.stdout_lines | length > 3

- name: Remove old PiHole images
  community.docker.docker_image:
    name: "{{ item }}"
    state: absent
    force_absent: true
  loop: "{{ images_to_remove }}"
  when:
    - images_to_remove is defined
    - images_to_remove | length > 0

- name: Display cleanup status
  debug:
    msg: "Removed {{ images_to_remove | length }} old PiHole image(s), kept 3 most recent"
  when:
    - images_to_remove is defined
    - images_to_remove | length > 0
