---
services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: kasm
    privileged: true
    #security_opt:
    #  - apparmor:rootlesskit #optional
    environment:
      - KASM_PORT=4434
    #  - DOCKER_HUB_USERNAME=USER #optional
    #  - DOCKER_HUB_PASSWORD=PASS #optional
    #  - DOCKER_MTU=1500 #optional
    env_file:
      - .env
    volumes:
      - /data/containers/kasm/data:/opt
      - /data/containers/kasm/profiles:/profiles #optional
    #  - /dev/input:/dev/input #optional
    #  - /run/udev/data:/run/udev/data #optional
    ports:
      - 3002:3000
      - 4434:4434
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.kasm.entrypoints=http"
      - "traefik.http.routers.kasm.rule=Host(`kasm.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.middlewares.kasm-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.kasm.middlewares=kasm-https-redirect"
      - "traefik.http.routers.kasm-secure.entrypoints=https"
      - "traefik.http.routers.kasm-secure.rule=Host(`kasm.{{ ansible_hostname }}.{{ homelab_domain }}`)"
      - "traefik.http.routers.kasm-secure.tls=true"
      - "traefik.http.routers.kasm-secure.service=kasm"
      - "traefik.http.services.kasm.loadbalancer.server.port=4434"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
